

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
}
body {
    font-family: 'sans-serif',Serif;
    margin: 0;
    padding: 20px;
    background-color: #f6f6f6

}

/*.invoice-container {*/
/*    width: 80%;*/
/*    margin: 50px auto;*/
/*    background-color: #fff;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*    padding: 20px;*/
/*}*/

/*.header, .footer {*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    background-color: #007BFF;*/
/*    color: white;*/
/*    border-radius: 10px 10px 0 0;*/
/*}*/

/*.header h1 {*/
/*    margin: 0;*/
/*    font-size: 24px;*/
/*}*/

/*.company-details, .invoice-details, .client-details {*/
/*    width: 100%;*/
/*    margin: 10px 0;*/
/*}*/

/*.company-details div, .client-details div, .invoice-details div {*/
/*    padding: 5px 0;*/
/*    font-size: small;*/
/*}*/

/*.invoice-details {*/
/*    text-align: right;*/
/*}*/


/*table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*    margin-top: 20px;*/
/*    font-size: small;*/
/*    font-family: FontAwesome, sans-serif;*/
/*}*/

/*table, th, td {*/
/*    !*border: 1px solid #ccc;*!*/
/*    padding: 10px;*/
/*}*/

/*th {*/
/*    background-color: #007BFF;*/
/*    color: white;*/
/*}*/

/*.total-section {*/
/*    margin-top: 20px;*/
/*    text-align: right;*/

/*}*/

/*.total-section div {*/
/*    padding: 10px 0;*/
/*    font-size: small;*/
/*}*/

/*.footer p {*/
/*    font-size: 12px;*/
/*    color: #ccc;*/
/*    margin: 0;*/
/*}*/

/*table tr :nth-last-child(1):not(i){*/
/*    !*width: 90px;*!*/
/*}*/

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #000;
}



/*button presudo effect*/
.custom-btn{
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.custom-btn::after, .custom-btn::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.custom-btn::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

/*modal css*/
/*.modal-content {*/
/*    -webkit-border-radius: 0;*/
/*    -webkit-background-clip: padding-box;*/
/*    -moz-border-radius: 0;*/
/*    -moz-background-clip: padding;*/
/*    border-radius: 6px;*/
/*    background-clip: padding-box;*/
/*    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);*/
/*    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);*/
/*    box-shadow: 0 0 40px rgba(0,0,0,.5);*/
/*    color: #000;*/
/*    background-color: #fff;*/
/*    border: rgba(0,0,0,0);*/
/*}*/
/*.modal-message .modal-dialog {*/
/*    width: 300px;*/
/*}*/
/*.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {*/
/*    background: 0 0;*/
/*    border: none;*/
/*    margin: 0;*/
/*    padding: 0 20px;*/
/*    text-align: center!important;*/
/*}*/

/*.modal-message .modal-title {*/
/*    font-size: 17px;*/
/*    color: #737373;*/
/*    margin-bottom: 3px;*/
/*}*/

/*.modal-message .modal-body {*/
/*    color: #737373;*/
/*}*/

/*.modal-message .modal-header {*/
/*    color: #fff;*/
/*    margin-bottom: 10px;*/
/*    padding: 15px 0 8px;*/
/*}*/
/*.modal-message .modal-header .fa,*/
/*.modal-message .modal-header*/
/*.glyphicon, .modal-message*/
/*.modal-header .typcn, .modal-message .modal-header .wi {*/
/*    font-size: 30px;*/
/*}*/

/*.modal-message .modal-footer {*/
/*    margin: 25px 0 20px;*/
/*    padding-bottom: 10px;*/
/*}*/

/*.modal-backdrop.in {*/
/*    zoom: 1;*/
/*    filter: alpha(opacity=75);*/
/*    -webkit-opacity: .75;*/
/*    -moz-opacity: .75;*/
/*    opacity: .75;*/
/*}*/
/*.modal-backdrop {*/
/*    background-color: #fff;*/
/*}*/
/*.modal-message.modal-success .modal-header {*/
/*    color: #53a93f;*/
/*    border-bottom: 3px solid #a0d468;*/
/*}*/

/*.modal-message.modal-info .modal-header {*/
/*    color: #57b5e3;*/
/*    border-bottom: 3px solid #57b5e3;*/
/*}*/

/*.modal-message.modal-danger .modal-header {*/
/*    color: #d73d32;*/
/*    border-bottom: 3px solid #e46f61;*/
/*}*/

/*.modal-message.modal-warning .modal-header {*/
/*    color: #f4b400;*/
/*    border-bottom: 3px solid #ffce55;*/
/*}*/

/*auth pages css*/

.center-div {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.form-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-container button {
    width: 100%;
    padding: 10px;
    /*background-color: #007bff;*/
    border: none;
    border-radius: 4px;
    /*color: white;*/
    font-size: 16px;
    cursor: pointer;
}

.form-container .link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}
.form-container .link:hover {
    text-decoration: underline;
}
/**/
.register {
    background-color: #007bff;
    color: white;
}
.register:hover {
    background-color: #0056b3;
}
/**/
.login {
    background-color: #28a745;
    color: white;
}
.login:hover {
    background-color: #218838;
}


/**/
.error-mgs{
    font-size: .8rem;
    list-style: none;
    padding: 0;
    margin: auto;
    color: brown;
}
