:root{
    --color1:#21B7A5;
    --color2:var(--primary);
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: thin; /* Firefox */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6
}

.invoice-container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table th {
    background: #1b2a4e;
    color: #fff;
}

.btn-add {
    background: #198754;
    color: white;
}

.remove-btn {
    display: none;
    cursor: pointer;
    color: red;
}

/*tr:hover .remove-btn { display: inline; }*/
tr:hover .remove-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 1.5rem
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #000;
}


/*button pseudo effect*/
.custom-btn {
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.custom-btn::after, .custom-btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.custom-btn::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}


/*auth pages css*/

.center-div {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    /*background-color: #007bff;*/
    border: none;
    border-radius: 4px;
    /*color: white;*/
    font-size: 16px;
    cursor: pointer;
}

.form-container .link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.form-container .link:hover {
    text-decoration: underline;
}

/**/
.register {
    background-color: #007bff;
    color: white;
}

.register:hover {
    background-color: #0056b3;
}

/**/
.login {
    background-color: #28a745;
    color: white;
}

.login:hover {
    background-color: #218838;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 10%;
}

footer a {
    color: var(--secondary);
    text-decoration: none;
}
footer a:hover {
    color: var(--bs-gray-500);
    text-decoration: none;
}


/**/
.error-mgs {
    font-size: .8rem;
    list-style: none;
    padding: 0;
    margin: auto;
    color: brown;
}
