.navbar .container{
    height: 2rem;
}
.auth {
    display: block;
    position: static;
}
.auth div {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.auth div li{
    padding-inline: 5px;
}
.auth li .register-link{
    background-color: #21B7A5;
    color: #fff;
}
.auth li .login-link{
    background-color: inherit;
    color: black;
    border: 1px solid darkgrey;

}

.auth div a {
    padding: .6rem 1rem;
    border: none;
    border-radius: .312rem;
    cursor: pointer;
    font-size: .812rem;
    margin-inline: .5rem;
    margin: 0;
    text-decoration: none;
}
